---
metadata:
  version: "v1"
scenario:
  metadata:
    complexity: Medium
    id: 41
    name: Exhaust Node Resources
    platform: kubernetes
  spec:
    environment:
      applications:
        otel_demo:
          enabled: true
      tools:
        category: sre
        selected:
          - chaos-mesh
          - prometheus
          - grafana
          - jaeger
          - kubernetes-topology-monitor

    faults:
      - chaos_mesh:
          schedule:
            name: exhaust-node-cart-pod-failure
            spec:
              schedule: "@every 1m"
              historyLimit: 1
              concurrencyPolicy: Forbid
              type: PodChaos
              podChaos:
                action: pod-failure
                mode: one
                selector:
                  namespaces:
                    - "{{ applications_helm_releases.otel_demo.namespace }}"
                  labelSelectors:
                    app.kubernetes.io/name: cart
                duration: "60s"
      - custom:
          name: remove-resource-limits
          remove_resource_limits:
            workload:
              kind: Deployment
              name: cart
              namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
              container:
                name: cart
