---
metadata:
  version: "v1"
scenario:
  metadata:
    complexity: Medium
    id: 49
    name: Readiness Probe Flapping
    platform: kubernetes
  spec:
    environment:
      applications:
        otel_demo:
          enabled: true
      tools:
        category: sre
        selected:
          - kubernetes-topology-monitor
    faults:
      - custom:
          name: readiness-flap
          readiness_flap:
            workload:
              container:
                name: frontend
              kind: Deployment
              name: frontend
              namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
