---
- name: Manage SRE and FinOps Incident Environment Tool Stack
  hosts:
    - environment
  pre_tasks:
    - name: Import system role
      ansible.builtin.import_role:
        name: system
      tags:
        - always
      vars:
        system_cluster:
          kubeconfig: "{{ cluster.kubeconfig }}"

    - name: Import cluster role
      ansible.builtin.import_role:
        name: cluster
      tags:
        - always
      vars:
        cluster_files:
          kubeconfig: "{{ cluster.kubeconfig }}"
        cluster_tools_enabled:
          oc: "{{ system_oc_exists }}"

    - name: Import variables for incident
      ansible.builtin.import_role:
        name: incidents
      tags:
        - always
      vars:
        incidents_file:
          id: "{{ incident_id }}"
      when:
        - incident_id is defined
  tasks:
    - name: Import leaderboard role
      ansible.builtin.import_role:
        name: leaderboard
      vars:
        leaderboard_status:
          status: progressing
        leaderboard_storage: "{{ storage }}"

    - name: Attempt to perform tools role tasks
      block:
        - name: Import tools role
          ansible.builtin.import_role:
            name: tools
          vars:
            tools_cluster:
              kubeconfig: "{{ cluster.kubeconfig }}"
              provider: "{{ cluster_provider }}"
              platform: "{{ cluster_platform }}"
            tools_installation_plan:
              chaos_mesh:
                enabled: "{{ incidents_tools.chaos_mesh | default(tools.chaos_mesh) }}"
              clickhouse:
                enabled: "{{ incidents_tools.clickhouse | default(tools.clickhouse) }}"
                external_access: true
              istio:
                enabled: "{{ incidents_tools.istio | default(tools.istio) }}"
              jaeger:
                enabled: "{{ incidents_tools.jaeger | default(tools.jaeger) }}"
                external_access: true
              kubernetes_metrics_server:
                enabled: "{{ incidents_tools.kubernetes_metrics_server | default(tools.kubernetes_metrics_server) }}"
              kubernetes_topology_monitor:
                enabled: "{{ incidents_tools.kubernetes_topology_monitor | default(tools.kubernetes_topology_monitor) }}"
                external_access: true
              opencost:
                enabled: "{{ incidents_tools.opencost | default(tools.opencost) }}"
                external_access: true
              opentelemetry:
                enabled: "{{ incidents_tools.opentelemetry | default(tools.opentelemetry) }}"
              prometheus:
                enabled: "{{ incidents_tools.prometheus | default(tools.prometheus) }}"
                external_access: true
            tools_uninstallation_plan:
              remove_crds: "{{ remove_crds | default(false) | bool }}"

        - name: Import leaderboard role
          ansible.builtin.import_role:
            name: leaderboard
          vars:
            leaderboard_status:
              status: succeeded
            leaderboard_storage: "{{ storage }}"
      rescue:
        - name: Import leaderboard role
          ansible.builtin.import_role:
            name: leaderboard
          vars:
            leaderboard_status:
              failed_task:
                name: "{{ ansible_failed_task.name }}"
                result: "{{ ansible_failed_result }}"
              status: failed
            leaderboard_storage: "{{ storage }}"

        - name: Fail playbook
          ansible.builtin.fail:
            msg: Playbook failed to complete successfully. Please check log for more info.
          tags:
            - always
