---
metadata:
  version: "v1"
fault:
  - entity:
      name: bookinfo-gateway-service
      group_id: bookinfo-gateway-service
      kind: Service
    condition: Authorization policy is applied to bookinfo-gateway-service service which denys GET requests
    category: Change
    fault_mechanism: misconfigured_service_mesh
alerts:
  - id: RequestErrorRate
    group_id: bookinfo-gateway
    metadata:
      description: Increased error rate for bookinfo gateway service due to denied GET requests
groups:
  - id: bookinfo-gateway
    kind: Gateway
    filter:
      - bookinfo-gateway
    namespace: bookinfo
  - id: bookinfo-gateway-service
    kind: Service
    filter:
      - bookinfo-gateway-*
    namespace: bookinfo
    root_cause: true
aliases:
  - []
propagations:
  - source: bookinfo-gateway-service
    target: bookinfo-gateway-service
    condition: Authorization policy 'deny-method-get' is applied to httpbin service in foo namespace
    effect: GET requests to httpbin service are denied, leading to an increased error rate.
recommended_actions:
  - solution:
      id: remove_deny_authorization_policy
      actions:
        - "Remove the 'deny-method-get' AuthorizationPolicy from the 'foo' namespace."
