---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: load-generator
    app.kubernetes.io/managed-by: ITBench
    app.kubernetes.io/part-of: bookinfo
  name: load-generator-product-page
  namespace: {{ applications_instances.bookinfo.namespace }}
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/component: load-generator
      app.kubernetes.io/managed-by: ITBench
      app.kubernetes.io/part-of: bookinfo
  template:
    metadata:
      labels:
        app.kubernetes.io/component: load-generator
        app.kubernetes.io/managed-by: ITBench
        app.kubernetes.io/part-of: bookinfo
    spec:
      containers:
        - name: generator
          image: {{ container_image }}
          command:
            - /bin/sh
          args:
            - -c
            - "while true; do curl {{ [applications_bookinfo_gateway_endpoint, '/productpage'] | join }}; sleep 5; done"
