---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: bookinfo-gateway
  namespace: "{{ applications_instances.bookinfo.namespace }}"
spec:
  selector:
    matchLabels:
      gateway.networking.k8s.io/gateway-name: bookinfo-gateway
  endpoints:
    - interval: 30s
      port: status-port
