---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: bookinfo-gateway
  namespace: {{ applications_instances.bookinfo.namespace }}
spec:
  selector:
    matchLabels:
      gateway.networking.k8s.io/gateway-name: bookinfo-gateway
  podMetricsEndpoints:
    - interval: 30s
      port: metrics
