---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ gateway.name }}
  namespace: "{{ tools_instances.kubernetes_gateways.namespace }}"
spec:
  gatewayClassName: cloud-provider-kind
  listeners:
    - name: http
      port: 80
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              it-bench/shared-gateway-access: "true"
