---
- name: Retrieve workload
  kubernetes.core.k8s_info:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    api_version: apps/v1
    kind: "{{ spec.workload.kind }}"
    name: "{{ spec.workload.name }}"
    namespace: "{{ spec.workload.namespace }}"
  register: faults_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - faults_workload is defined
      - faults_workload.resources | length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Inject fault (init container hang)
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ faults_workload.resources[0].apiVersion }}"
      kind: "{{ faults_workload.resources[0].kind }}"
      metadata:
        name: "{{ faults_workload.resources[0].metadata.name }}"
        namespace: "{{ faults_workload.resources[0].metadata.namespace }}"
      spec:
        template:
          spec:
            initContainers: |-
              {{
                (
                  faults_workload.resources[0].spec.template.spec.initContainers | default([])
                ) +
                init_containers
              }}
    state: patched
  vars:
    init_containers: |-
      {{
        lookup('ansible.builtin.file', 'files/deployment/hanging_init_container.yaml') |
        from_yaml |
        community.general.json_query('spec.template.spec.initContainers')
      }}

- name: Restart pods if restart_policy is force
  ansible.builtin.import_tasks:
    file: force_workload_restart.yaml
  when: (spec.workload.restart_policy | default('force')) == 'force'
  vars:
    restartable_workload: "{{ spec.workload }}"
