---
- name: Retrieve existing Deployment
  kubernetes.core.k8s_info:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    api_version: apps/v1
    kind: Deployment
    name: "{{ spec.workload.name }}"
    namespace: "{{ spec.workload.namespace }}"
  register: faults_existing_deployment

- name: Combine existing init containers (if any) with the new hang container
  set_fact:
    updated_init_containers: >-
      {{
        (faults_existing_deployment.resources[0].spec.template.spec.initContainers | default([]))
        + [ { 'name': 'hang-init', 'image': 'busybox', 'command': ['sh', '-c', 'sleep 300'] } ]
      }}

- name: Inject fault (init container hang)
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    state: present
    definition:
      apiVersion: apps/v1
      kind: "{{ spec.workload.kind }}"
      metadata:
        name: "{{ spec.workload.name }}"
        namespace: "{{ spec.workload.namespace }}"
      spec:
        template:
          spec:
            initContainers: "{{ updated_init_containers }}"

- name: Restart pods if restart_policy is force
  ansible.builtin.import_tasks:
    file: force_workload_restart.yaml
  when: (spec.workload.restart_policy | default('force')) == 'force'
  vars:
    faults_workload: "{{ spec.workload }}"
