---
- name: Import invalid command removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_invalid_command.yaml
  vars:
    spec: "{{ fault.custom.invalid_command }}"
  when:
    - fault.custom.name == 'invalid-command'
    - fault.custom.invalid_command is defined

- name: Import invalid image removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_invalid_image.yaml
  vars:
    spec: "{{ fault.custom.invalid_image }}"
  when:
    - fault.custom.name == 'invalid-image'
    - fault.custom.invalid_image is defined

- name: Import invalid node selector removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_invalid_node_selector.yaml
  vars:
    spec: "{{ fault.custom.invalid_node_selector }}"
  when:
    - fault.custom.name == 'invalid-node-selector'
    - fault.custom.invalid_node_selector is defined

- name: Import misconfigured horizontal pod autoscaler removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_misconfigured_horizontal_pod_autoscaler.yaml
  vars:
    spec: "{{ fault.custom.misconfigured_horizontal_pod_autoscaler }}"
  when:
    - fault.custom.name == 'misconfigured-horizontal-pod-autoscaler'
    - fault.custom.misconfigured_horizontal_pod_autoscaler is defined

- name: Import misconfigured network policy removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_misconfigured_network_policy.yaml
  vars:
    spec: "{{ fault.custom.misconfigured_network_policy }}"
  when:
    - fault.custom.name == 'misconfigured-network-policy'
    - fault.custom.misconfigured_network_policy is defined

- name: Import misconfigured persistent volume claim removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_misconfigured_persistent_volume_claim.yaml
  vars:
    spec: "{{ fault.custom.misconfigured_persitent_volume_claim }}"
  when:
    - fault.custom.name == 'misconfigured-persitent-volume-claim'
    - fault.custom.misconfigured_persitent_volume_claim is defined

- name: Import misconfigured resource quota removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_misconfigured_resource_quota.yaml
  vars:
    spec: "{{ fault.custom.misconfigured_resource_quota }}"
  when:
    - fault.custom.name == 'misconfigured-resource-quota'
    - fault.custom.misconfigured_resource_quota is defined

- name: Import misconfigured service port removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_misconfigured_service_port.yaml
  vars:
    spec: "{{ fault.custom.misconfigured_service_port }}"
  when:
    - fault.custom.name == 'misconfigured-service-port'
    - fault.custom.misconfigured_service_port is defined

- name: Import modify environment variables removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_modify_environment_variables.yaml
  vars:
    spec: "{{ fault.custom.modify_environment_variables }}"
  when:
    - fault.custom.name == 'modify-environment-variables'
    - fault.custom.modify_environment_variables is defined

- name: Import unsupported image removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_unsupported_image.yaml
  vars:
    spec: "{{ fault.custom.unsupported_image }}"
  when:
    - fault.custom.name == 'unsupported-image'
    - fault.custom.unsupported_image is defined

- name: Import remove resource limits removal task
  ansible.builtin.import_tasks:
    file: remove_custom_remove_resource_limits.yaml
  vars:
    spec: "{{ fault.custom.remove_resource_limits }}"
  when:
    - fault.custom.name == 'remove-resource-limits'
    - fault.custom.remove_resource_limits is defined

- name: Import pod anti-affinity rescheduling removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_pod_anti_affinity_rescheduling.yaml
  vars:
    spec: "{{ fault.custom.pod_anti_affinity_rescheduling }}"
  when:
    - fault.custom.name == 'pod-anti-affinity-rescheduling'
    - fault.custom.pod_anti_affinity_rescheduling is defined

- name: Import init container hang removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_init_container_hang.yaml
  vars:
    spec: "{{ fault.custom.hang_init_container }}"
  when:
    - fault.custom.name == 'hang-init-container'
    - fault.custom.hang_init_container is defined

- name: Import misconfigured resource limits removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_misconfigured_limits.yaml
  vars:
    spec: "{{ fault.custom.misconfigured_resource_limits }}"
  when:
    - fault.custom.name == 'misconfigured-resource-limits'
    - fault.custom.misconfigured_resource_limits is defined

- name: Import authorization policy deny removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_authorization_policy_deny.yaml
  vars:
    spec: "{{ fault.custom.authorization_policy_deny }}"
  when:
    - fault.custom.name == 'authorization-policy-deny'
    - fault.custom.authorization_policy_deny is defined

- name: Import disabled ambient mode removal tasks
  ansible.builtin.import_tasks:
    file: remove_custom_disable_ambient_mode.yaml
  vars:
    spec: "{{ fault.custom.disable_ambient_mode }}"
  when:
    - fault.custom.name == 'disable-ambient-mode'
    - fault.custom.disable_ambient_mode is defined
