---
- name: Remove fault (Authorization Policy Deny)
  kubernetes.core.k8s:
    api_version: security.istio.io/v1
    kind: AuthorizationPolicy
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: "{{ spec.gateway.name }}-deny"
    namespace: "{{ spec.gateway.namespace }}"
    state: absent
