---
- name: Retrieve workload information
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: "{{ faults_container_workload.kind }}"
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: "{{ faults_container_workload.name }}"
    namespace: "{{ faults_container_workload.namespace }}"
  register: faults_workload_info

- name: Find the index of the target container
  ansible.builtin.set_fact:
    faults_workload_container_index: |
      {{
        lookup(
          'ansible.utils.index_of',
          faults_workload_info.resources[0].spec.template.spec.containers,
          'eq',
          faults_container_workload.container.name,
          'name'
        )
      }}
  when:
    - faults_workload_info is defined
    - faults_workload_info.resources | length > 0
