---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ tools_helm_releases.istio.components.istiod_control_plane }}
  namespace: {{ tools_helm_releases.istio.namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ tools_helm_releases.istio.components.istiod_control_plane }}
      app.kubernetes.io/part-of: istio
  endpoints:
    - interval: 30s
      port: http-monitoring
{% if tools_cluster.platform == "kubernetes" %}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: istio-main
  namespace: "{{ tools_instances.kubernetes_gateways.namespace }}"
spec:
  selector:
    matchLabels:
      gateway.networking.k8s.io/gateway-name: istio-main
  endpoints:
    - interval: 30s
      port: status-port
{% endif %}
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ tools_helm_releases.istio.components.ztunnel }}
  namespace: {{ tools_helm_releases.istio.namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ tools_helm_releases.istio.components.ztunnel }}
      app.kubernetes.io/part-of: istio
  podMetricsEndpoints:
    - interval: 30s
      port: ztunnel-stats
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ tools_helm_releases.istio.components.cni_node_agent }}
  namespace: {{ tools_helm_releases.istio.namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ tools_helm_releases.istio.components.cni_node_agent }}
      app.kubernetes.io/part-of: istio
  podMetricsEndpoints:
    - interval: 30s
      port: metrics
