---
- name: Install Kubernetes Topology Monitor
  kubernetes.core.helm:
    chart_ref: "{{ playbook_dir }}/../tools/kubernetes-topology-monitor/charts/kubernetes-topology-monitor"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
    release_namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
    release_state: present
    timeout: 10m0s
    wait: true
