---
- name: Install Prometheus and Prometheus Operator on Kubernetes
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Create the release namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ tools_helm_releases.prometheus.namespace }}"
            labels:
              it-bench/monitoring: "true"
              it-bench/shared-gateway-access: "true"
        state: present

    - name: Install Prometheus Operator and Prometheus
      kubernetes.core.helm:
        chart_ref: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
        chart_version: 79.4.1
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        release_name: "{{ tools_helm_releases.prometheus.name }}"
        release_namespace: "{{ tools_helm_releases.prometheus.namespace }}"
        release_state: present
        timeout: 10m0s
        values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/prometheus.j2') | from_yaml }}"
        wait: true

    - name: Enable external access on Kind
      when:
        - tools_installation_plan.prometheus.external_access
        - tools_cluster.provider == "kind"
        - not tools_installation_plan.istio.enabled
      block:
        - name: Create Cloud Provider Kind Kubernetes Gateway
          kubernetes.core.k8s:
            kubeconfig: "{{ tools_cluster.kubeconfig }}"
            template: templates/kubernetes_gateways/kind.j2
            state: present
            wait: true
            wait_condition:
              reason: Programmed
              status: "True"
              type: Programmed
          vars:
            gateway:
              name: "{{ tools_helm_releases.prometheus.name }}"

        - name: Create HTTP Route
          kubernetes.core.k8s:
            kubeconfig: "{{ tools_cluster.kubeconfig }}"
            template: templates/prometheus/http_route.j2
            state: present
          vars:
            gateway:
              name: "{{ tools_helm_releases.prometheus.name }}"

        - name: Import connection test to external endpoint
          ansible.builtin.import_tasks:
            file: test_gateway_endpoint.yaml
          vars:
            tools_external_paths:
              - /query
              - /alerts
            tools_kubernetes_gateway:
              name: "{{ tools_helm_releases.prometheus.name }}"

- name: Enabled OpenShift User Worklord Monitoring (Prometheus)
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Enable OpenShift user workload monitoring
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        state: present
        src: files/openshift/user-workload-monitoring-config.yaml

    - name: Wait for Prometheus workload pods to start
      kubernetes.core.k8s_info:
        kind: Pod
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        label_selectors:
          - app.kubernetes.io/component = prometheus
          - app.kubernetes.io/instance = user-workload
        namespace: openshift-user-workload-monitoring
        wait: true
        wait_condition:
          type: Ready
          status: "True"
        wait_timeout: 300
