---
- name: Install OpenTelemetry Operator on Kubernetes
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Create the release namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ tools_helm_releases.opentelemetry_operator.namespace }}"
            labels:
              it-bench/monitoring: "true"
        state: present

    - name: Install OpenTelemetry Operator
      kubernetes.core.helm:
        chart_ref: opentelemetry-operator
        chart_repo_url: https://open-telemetry.github.io/opentelemetry-helm-charts
        chart_version: 0.99.0
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        release_name: "{{ tools_helm_releases.opentelemetry_operator.name }}"
        release_namespace: "{{ tools_helm_releases.opentelemetry_operator.namespace }}"
        release_state: present
        timeout: 10m0s
        values:
          manager:
            serviceMonitor:
              enabled: "{{ tools_required.prometheus }}"
          admissionWebhooks:
            certManager:
              enabled: false
            autoGenerateCert:
              enabled: true
        wait: true

- name: Install RedHat build of OpenTelemetry Operator on OpenShift
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Create the project for RH build of OpenTelemetry Operator
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: project.openshift.io/v1
          kind: Project
          metadata:
            name: openshift-opentelemetry-operator
            labels:
              kubernetes.io/metadata.name: openshift-opentelemetry-operator
              openshift.io/cluster-monitoring: "true"
        state: present

    - name: Create the operator group for RH build of OpenTelemetry Operator
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: operators.coreos.com/v1
          kind: OperatorGroup
          metadata:
            name: openshift-opentelemetry-operator
            namespace: openshift-opentelemetry-operator
          spec:
            upgradeStrategy: Default
        state: present

    - name: Create the subscription for RH build of OpenTelemetry Operator
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: operators.coreos.com/v1alpha1
          kind: Subscription
          metadata:
            name: opentelemetry-product
            namespace: openshift-opentelemetry-operator
          spec:
            channel: stable
            installPlanApproval: Automatic
            name: opentelemetry-product
            source: redhat-operators
            sourceNamespace: openshift-marketplace
        state: present

    - name: Wait for RH build of OpenTelemetry Operator
      kubernetes.core.k8s_info:
        api_version: operators.coreos.com/v1alpha1
        kind: ClusterServiceVersion
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        namespace: openshift-opentelemetry-operator
      register: tools_openshift_otel_operator_csv
      until:
        - tools_openshift_otel_operator_csv.resources |
          selectattr("status.phase", "==", "Succeeded") |
          length == 0
      retries: 10
      delay: 30

    - name: Wait for OpenTelemetry CRD to be installed
      kubernetes.core.k8s_info:
        api_version: apiextensions.k8s.io/v1
        kind: CustomResourceDefinition
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: opentelemetrycollectors.opentelemetry.io
      register: tools_openshift_otel_collector_crd
      until:
        - tools_openshift_otel_collector_crd.resources | length == 1
      retries: 10
      delay: 30

- name: Create the release namespace for OpenTelemetry Collectors
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_instances.opentelemetry_collectors.namespace }}"
        labels:
          it-bench/monitoring: "true"
    state: present

- name: Import variable setting task
  ansible.builtin.import_tasks:
    file: set_clickhouse_credentials.yaml
  when:
    - tools_required.opentelemetry or tools_required.istio

- name: Import variable setting task
  ansible.builtin.import_tasks:
    file: set_clickhouse_endpoint.yaml
  when:
    - tools_required.opentelemetry or tools_required.istio

- name: Install OpenTelemetry Collector(s)
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: "{{ item.template_path }}"
    state: present
  loop:
    - enabled: "{{ tools_required.jaeger }}"
      template_path: templates/opentelemetry/collectors/jaeger.j2
      container_image: |
        {{
          lookup('ansible.builtin.file', 'files/opentelemetry/collectors/jaeger.yaml') |
          from_yaml |
          community.general.json_query('spec.image')
        }}
    - enabled: "{{ tools_required.opentelemetry }}"
      template_path: templates/opentelemetry/collectors/kubernetes-objects.j2
      container_image: |
        {{
          lookup('ansible.builtin.file', 'files/opentelemetry/collectors/kubernetes-objects.yaml') |
          from_yaml |
          community.general.json_query('spec.image')
        }}
    - enabled: "{{ tools_required.istio }}"
      template_path: templates/opentelemetry/collectors/istio.j2
      container_image: |
        {{
          lookup('ansible.builtin.file', 'files/opentelemetry/collectors/istio.yaml') |
          from_yaml |
          community.general.json_query('spec.image')
        }}
  loop_control:
    label: template/{{ item.template_path | basename }}
  when:
    - item.enabled

- name: Fetch all OpenTelemetry Collectors
  kubernetes.core.k8s_info:
    api_version: opentelemetry.io/v1beta1
    kind: OpenTelemetryCollector
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    namespace: "{{ tools_instances.opentelemetry_collectors.namespace }}"
  register: tools_otel_collectors

- name: Wait for all OpenTelemetry Collectors to reach ready state
  kubernetes.core.k8s_info:
    api_version: "{{ resource.apiVersion }}"
    kind: "{{ resource.kind }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ resource.metadata.name }}"
    namespace: "{{ resource.metadata.namespace }}"
    wait: true
  loop: "{{ tools_otel_collectors.resources }}"
  loop_control:
    label: opentelemetrycollector/{{ resource.metadata.name }}
    loop_var: resource
  register: tools_opentelemetry_collector_info
  until:
    - tools_opentelemetry_collector_info.resources[0].status.scale is defined
    - tools_opentelemetry_collector_info.resources[0].status.scale.statusReplicas | split('/') | unique | length == 1
  retries: 10
  delay: 30
  when:
    - tools_otel_collectors is defined
