---
# kubectl is used in place of thekubernetes.core module because
# the server side configuration the yaml files are still downloaded
# and rendered on the client side. Depending on the file, sometimes
# there are rendering issues.

- name: Create HTTP response headers variable
  ansible.builtin.set_fact:
    tools_http_route_response_headers:
      - name: Content-Security-Policy
        value: "img-src 'self' data:; connect-src 'self'; font-src 'self'; object-src 'none'; form-action 'none'; frame-ancestors 'none'"
      - name: Cross-Origin-Resource-Policy
        value: same-origin
      - name: Strict-Transport-Security
        value: max-age=31536000; includeSubDomains; preload
      - name: Referrer-Policy
        value: strict-origin-when-cross-origin
      - name: X-Content-Type-Options
        value: nosniff
      - name: X-Frame-Options
        value: DENY
      - name: X-XSS-Protection
        value: "0"
    tools_route_response_headers:
      - name: Content-Security-Policy
        action:
          type: Set
          set:
            value: "img-src 'self' data:; connect-src 'self'; font-src 'self'; object-src 'none'; form-action 'none'; frame-ancestors 'none'"
      - name: Cross-Origin-Resource-Policy
        action:
          type: Set
          set:
            value: same-origin
      - name: Referrer-Policy
        action:
          type: Set
          set:
            value: strict-origin-when-cross-origin
      - name: X-Content-Type-Options
        action:
          type: Set
          set:
            value: nosniff
      - name: X-Frame-Options
        action:
          type: Set
          set:
            value: DENY
      - name: X-XSS-Protection
        action:
          type: Set
          set:
            value: "0"

- name: Add Kubernetes Gateway API CRDs
  ansible.builtin.command:
    argv:
      - kubectl
      - apply
      - --server-side
      - -f
      - https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.0/standard-install.yaml
      - --kubeconfig={{ tools_cluster.kubeconfig | ansible.builtin.expanduser }}
  register: tools_kubernetes_gateway_crds_apply
  changed_when: tools_kubernetes_gateway_crds_apply.rc == 0
  when:
    - tools_cluster.platform == "kubernetes"

- name: Create Kubernetes Gateway instance namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_instances.kubernetes_gateways.namespace }}"
        labels:
          it-bench/monitoring: "true"
    state: present
