---
- name: Create release namespace for Istio
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    state: present
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.istio.namespace }}"
        labels:
          it-bench/monitoring: "true"

- name: Install Istio Base (CRDs)
  kubernetes.core.helm:
    chart_ref: base
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.base }}"
    release_namespace: "{{ tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/base.j2') | from_yaml }}"
    wait: true

- name: Install Istiod Control Plane
  kubernetes.core.helm:
    chart_ref: istiod
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.istiod_control_plane }}"
    release_namespace: "{{ tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/istiod_control_plane.j2') | from_yaml }}"
    wait: true

- name: Install Istio CNI Node Agent
  kubernetes.core.helm:
    chart_ref: cni
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.cni_node_agent }}"
    release_namespace: "{{ 'kube-system' if tools_cluster.platform == 'openshift' else tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/cni_node_agent.j2') | from_yaml }}"
    wait: true

- name: Install Istio ZTunnel
  kubernetes.core.helm:
    chart_ref: ztunnel
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.ztunnel }}"
    release_namespace: "{{ 'kube-system' if tools_cluster.platform == 'openshift' else tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/ztunnel.j2') | from_yaml }}"
    wait: true

- name: Create Kubernetes Gateway
  vars:
    tools_istio_gateway_http_routes: []
    tools_istio_gateway_test_endpoints: []
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Append http routes and test endpoints
      ansible.builtin.set_fact:
        tools_istio_gateway_http_routes: "{{ tools_istio_gateway_http_routes + item.routes }}"
        tools_istio_gateway_test_endpoints: "{{ tools_istio_gateway_test_endpoints + item.endpoints }}"
      loop:
        - enabled: "{{ tools_installation_plan.clickhouse.enabled | default(true) }}"
          endpoints:
            - /clickhouse/{{ tools_instances.clickhouse.names.main }}/play
          routes:
            - template_path: templates/clickhouse/http_routes/main.j2
              path:
                match_prefix: true
                rewrite_url: true
        - enabled: "{{ tools_installation_plan.jaeger.enabled | default(true) }}"
          endpoints:
            - /jaeger
          routes:
            - template_path: templates/opentelemetry/http_routes/jaeger.j2
              path:
                match_prefix: true
        - enabled: "{{ tools_installation_plan.opencost.enabled | default(false) }}"
          endpoints:
            - /
          routes:
            - template_path: templates/opencost/http_route.j2
        - enabled: "{{ tools_installation_plan.prometheus.enabled | default(true) }}"
          endpoints:
            - /prometheus/alerts
            - /prometheus/query
          routes:
            - template_path: templates/prometheus/http_route.j2
              path:
                match_prefix: true
        - enabled: "{{ tools_installation_plan.kubernetes_topology_monitor.enabled | default(true) }}"
          endpoints:
            - /topology/healthz
          routes:
            - template_path: templates/kubernetes_topology_monitor/http_route.j2
              path:
                match_prefix: true
                rewrite_url: true
      when:
        - item.enabled

    - name: Create Cloud Provider Kind Kubernetes Gateway
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        template: templates/kubernetes_gateways/istio.j2
        state: present
        wait: true
        wait_condition:
          reason: Programmed
          status: "True"
          type: Programmed

    - name: Create HTTPRoutes
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        template: "{{ route.template_path }}"
        state: present
      loop: "{{ tools_istio_gateway_http_routes }}"
      loop_control:
        label: template/{{ route.template_path }}
        loop_var: route
      vars:
        gateway:
          name: istio-main

    - name: Import connection test to external endpoint
      ansible.builtin.import_tasks:
        file: test_gateway_endpoint.yaml
      vars:
        tools_external_paths: "{{ tools_istio_gateway_test_endpoints }}"
        tools_kubernetes_gateway:
          name: istio-main

- name: Enable Routing via Host feature
  kubernetes.core.k8s_json_patch:
    api_version: operator.openshift.io/v1
    kind: Network
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: cluster
    namespace: default # TODO: Need to validate this namespace
    patch:
      - op: replace
        path: /spec/defaultNetwork/ovnKubernetesConfig/gatewayConfig/routingViaHost
        value: true
  when:
    - tools_cluster.platform == "openshift"

- name: Deploy Istio Telemetry
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/istio/telemetry.j2
    state: present

- name: Deploy Prometheus Monitors
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/istio/monitoring.j2
    state: present
  when:
    - tools_installation_plan.prometheus.enabled | default(true)
