---
- name: Create the release namespace for Clickhouse Operator
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.clickhouse_operator.namespace }}"
        labels:
          it-bench/monitoring: "true"
    state: present

- name: Install Clickhouse Operator
  kubernetes.core.helm:
    chart_ref: altinity-clickhouse-operator
    chart_repo_url: https://docs.altinity.com/clickhouse-operator/
    chart_version: 0.25.5
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.clickhouse_operator.name }}"
    release_namespace: "{{ tools_helm_releases.clickhouse_operator.namespace }}"
    release_state: present
    timeout: 10m0s
    values:
      configs:
        files:
          config.yaml:
            watch:
              namespaces:
                - "{{ tools_instances.clickhouse.namespace }}"
      podAnnotations:
        openshift.io/required-scc: restricted-v2
      serviceMonitor:
        enabled: "{{ tools_required.prometheus }}"
    wait: true

- name: Create the release namespace for Clickhouse
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_instances.clickhouse.namespace }}"
        annotations:
          openshift.io/sa.scc.mcs: s0:c30,c10
          openshift.io/sa.scc.uid-range: 100/100
          openshift.io/sa.scc.supplemental-groups: 101/100
        labels:
          it-bench/monitoring: "true"
    state: present

- name: Create Clickhouse Installation(s)
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/clickhouse/installations/main.j2
    state: present

- name: Retrieve all Clickhouse Installations
  kubernetes.core.k8s_info:
    api_version: clickhouse.altinity.com/v1
    kind: ClickHouseInstallation
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    namespace: "{{ tools_instances.clickhouse.namespace }}"
  register: tools_clickhouse_installations

- name: Wait for all Clickhouse Installations to complete
  kubernetes.core.k8s_info:
    api_version: "{{ resource.apiVersion }}"
    kind: "{{ resource.kind }}"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ resource.metadata.name }}"
    namespace: "{{ resource.metadata.namespace }}"
  loop: "{{ tools_clickhouse_installations.resources }}"
  loop_control:
    label: clickhouseinstallation/{{ resource.metadata.name }}
    loop_var: resource
  register: tools_chi
  until:
    - tools_chi.resources[0].status is defined
    - tools_chi.resources[0].status.status is defined
    - tools_chi.resources[0].status.status == 'Completed'
  retries: 10
  delay: 30
