---
- name: Check for Clickhouse instance namespace
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Namespace
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ tools_instances.clickhouse.namespace }}"
  register: tools_clickhouse_namespace_info

- name: Check for ClickHouse Installation CRD
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: clickhouseinstallations.clickhouse.altinity.com
  register: tools_clickhouse_installation_crd_info

- name: Reinitialize all Clickhouse installations
  when:
    - tools_clickhouse_namespace_info is defined
    - tools_clickhouse_namespace_info.resources | length == 1
    - tools_clickhouse_installation_crd_info is defined
    - tools_clickhouse_installation_crd_info.resources | length == 1
  block:
    - name: Retrieve Clickhouse Installation
      kubernetes.core.k8s_info:
        api_version: clickhouse.altinity.com/v1
        kind: ClickHouseInstallation
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        namespace: "{{ tools_clickhouse_namespace_info.resources[0].metadata.name }}"
        wait: true
      register: tools_clickhouse_installations_info

    - name: List all tables in the default database
      kubernetes.core.k8s_exec:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        namespace: "{{ installation.metadata.namespace }}"
        pod: "{{ installation.status.pods | first }}"
        command: clickhouse-client --query="SHOW TABLES FROM default FORMAT TSV"
      loop: "{{ tools_clickhouse_installations_info.resources }}"
      loop_control:
        label: clickhouseinstallation/{{ installation.metadata.name }}
        loop_var: installation
      register: tools_clickhouse_installation_tables_output
      when:
        - tools_clickhouse_installations_info is defined

    - name: Create flattened list of table and instance groupings
      ansible.builtin.set_fact:
        tools_clickhouse_instance_table_groups: |
          {{
            (
              tools_clickhouse_instance_table_groups | default([])
            ) +
            (
              [
                output.stdout_lines |
                product([output.installation]) |
                flatten
              ]
            )
          }}
      loop: "{{ tools_clickhouse_installation_tables_output.results }}"
      loop_control:
        label: clickhouseinstallation/{{ output.installation.metadata.name }}
        loop_var: output
      when:
        - tools_clickhouse_installation_tables_output is defined
        - output.stdout_lines | length > 0

    - name: Truncate default database ClickHouse tables
      kubernetes.core.k8s_exec:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        namespace: "{{ instance_table_group[1].metadata.namespace }}"
        pod: "{{ instance_table_group[1].status.pods | first }}"
        command: clickhouse-client --query="TRUNCATE TABLE default.{{ instance_table_group[0] }};"
      loop: "{{ tools_clickhouse_instance_table_groups }}"
      loop_control:
        label: table/{{ instance_table_group[0] | default('not-applicable') }}
        loop_var: instance_table_group
      when:
        - tools_clickhouse_instance_table_groups is defined
