---
- name: Retrieve Chaos Mesh Schedule CRD
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: schedules.chaos-mesh.org
  register: tools_chaos_mesh_schedules_crd_info

- name: Pause Chaos Mesh Scheduled Experiments
  when:
    - tools_chaos_mesh_schedules_crd_info is defined
    - tools_chaos_mesh_schedules_crd_info.resources | length == 1
  block:
    - name: Retrive all instances of Chaos Mesh Schedule
      kubernetes.core.k8s_info:
        api_version: chaos-mesh.org/v1alpha1
        kind: Schedule
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
      register: tools_chaos_mesh_schedules_info

    - name: Add pause annotation to scheules
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: "{{ schedule.apiVersion }}"
          kind: "{{ schedule.kind }}"
          metadata:
            annotations: |
              {{
                schedule.metadata.annotations |
                combine({'experiment.chaos-mesh.org/pause': 'true'})
              }}
            name: "{{ schedule.metadata.name }}"
            namespace: "{{ schedule.metadata.namespace }}"
        state: patched
      loop: "{{ tools_chaos_mesh_schedules_info.resources }}"
      loop_control:
        label: schedule/{{ schedule.metadata.name }}
        loop_var: schedule
      when:
        - tools_chaos_mesh_schedules_info is defined

    - name: Wait for associated experiement to pause
      kubernetes.core.k8s_info:
        api_version: "{{ schedule.apiVersion }}"
        kind: "{{ schedule.spec.type }}"
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        label_selectors:
          - managed-by={{ schedule.metadata.name }}
        wait: true
        wait_condition:
          type: Paused
          status: "True"
      loop: "{{ tools_chaos_mesh_schedules_info.resources }}"
      loop_control:
        label: schedule/{{ schedule.metadata.name }}
        loop_var: schedule
      when:
        - tools_chaos_mesh_schedules_info is defined

- name: Retrieve all CRDs
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
  register: tools_crd_info

- name: Parse all Chaos Mesh CRDs
  ansible.builtin.set_fact:
    tools_chaos_mesh_crds_info:
      resources: |
        {{
          tools_crd_info.resources |
          selectattr('spec.group', '==', 'chaos-mesh.org')
        }}
  when:
    - tools_crd_info is defined

- name: Delete all Chaos Mesh experiment instances
  when:
    - tools_chaos_mesh_crds_info is defined
    - tools_chaos_mesh_crds_info.resources | length > 0
  block:
    - name: Get all experiment instances
      kubernetes.core.k8s_info:
        api_version: chaos-mesh.org/v1alpha1
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        kind: "{{ crd.spec.names.kind }}"
      loop: "{{ tools_chaos_mesh_crds_info.resources }}"
      loop_control:
        label: "customresourcedefinition/{{ crd.metadata.name }}"
        loop_var: crd
      register: tools_chaos_mesh_instances_info
      when:
        - crd.spec.names.kind != 'Schedule'

    - name: Delete all experiments
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: "{{ experiement.apiVersion }}"
          kind: "{{ experiement.kind }}"
          metadata:
            annotations: |
              {{
                experiement.metadata.annotations |
                combine({'chaos-mesh.chaos-mesh.org/cleanFinalizer': 'forced'})
              }}
            name: "{{ experiement.metadata.name }}"
            namespace: "{{ experiement.metadata.namespace }}"
        state: patched
      loop: |
        {{
          tools_chaos_mesh_instances_info.results |
          community.general.json_query('[*].resources') |
          flatten
        }}
      loop_control:
        label: "{{ experiement.kind }}/{{ experiment.metadata.name }}"
        loop_var: experiment
      when:
        - tools_chaos_mesh_instances_info is defined

- name: Delete Chaos Mesh Schedules
  when:
    - tools_chaos_mesh_schedules_crd_info is defined
    - tools_chaos_mesh_schedules_crd_info.resources | length == 1
  block:
    - name: Retrive all instances of Chaos Mesh Schedule
      kubernetes.core.k8s_info:
        api_version: chaos-mesh.org/v1alpha1
        kind: Schedule
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
      register: tools_chaos_mesh_schedules_info

    - name: Delete Chaos Mesh schedules
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: chaos-mesh.org/v1alpha1
          kind: Schedule
          metadata:
            name: "{{ spec.schedule.name }}"
            namespace: "{{ tools_helm_releases.chaos_mesh.namespace }}"
        state: absent
        wait: true
      loop: "{{ tools_chaos_mesh_schedules_info.resources }}"
      loop_control:
        label: schedule/{{ schedule.metadata.name }}
        loop_var: schedule
      when:
        - tools_chaos_mesh_schedules_info is defined
