---
- name: Retrieve Prometheus CRD
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: prometheuses.monitoring.coreos.com
  register: tools_prometheus_crd_info

- name: Reinitialize all active Prometheus instances
  when:
    - tools_prometheus_crd_info is defined
    - tools_prometheus_crd_info.resources | length == 1
  block:
    - name: Retrieve all Prometheus instances
      kubernetes.core.k8s_info:
        api_version: monitoring.coreos.com/v1
        kind: Prometheus
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
      register: tools_prometheus_info

    - name: Delete all pods with Prometheus label selectors
      kubernetes.core.k8s:
        api_version: v1
        delete_all: true
        kind: Pod
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        label_selectors: "{{ instance.status.selector | split(',') }}"
        namespace: "{{ instance.metadata.namespace }}"
        state: absent
      loop: "{{ tools_prometheus_info.resources }}"
      loop_control:
        label: prometheus/{{ instance.metadata.name }}
        loop_var: instance
      when:
        - tools_prometheus_info is defined
        - instance.metadata.namespace in ['prometheus-user-workload', tools_helm_releases.prometheus.namespace]

    - name: Wait for Prometheus to reach ready state
      kubernetes.core.k8s_info:
        api_version: "{{ instance.apiVersion }}"
        kind: "{{ instance.kind }}"
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ instance.metadata.name }}"
        namespace: "{{ instance.metadata.namespace }}"
        wait: true
        wait_condition:
          reason: ""
          status: "True"
          type: Available
      loop: "{{ tools_prometheus_info.resources }}"
      loop_control:
        label: prometheus/{{ instance.metadata.name }}
        loop_var: instance
      when:
        - tools_prometheus_info is defined
        - instance.metadata.namespace in ['prometheus-user-workload', tools_helm_releases.prometheus.namespace]
