---
- name: Uninstall Prometheus Operator and Prometheus on Kubernetes
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Uninstall Prometheus Operator and Prometheus
      kubernetes.core.helm:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        release_name: "{{ tools_helm_releases.prometheus.name }}"
        release_namespace: "{{ tools_helm_releases.prometheus.namespace }}"
        release_state: absent
        wait: true

    - name: Delete the release namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          api_version: v1
          kind: Namespace
          metadata:
            name: "{{ tools_helm_releases.prometheus.namespace }}"
        state: absent

    - name: Append Prometheus Operator related CRDs to list
      ansible.builtin.set_fact:
        tools_custom_resource_definitions: "{{ tools_custom_resource_definitions + crds }}"
      vars:
        crds: "{{ tools_crds.resources | selectattr('spec.group', '==', 'monitoring.coreos.com') }}"

- name: Disable OpenShift User Workload Monitoring
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Disable OpenShift user workload monitoring
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        state: absent
        src: files/openshift/user-workload-monitoring-config.yaml
