---
- name: Uninstall Kubernetes Metrics Server
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.kubernetes_metrics_server.name }}"
    release_namespace: "{{ tools_helm_releases.kubernetes_metrics_server.namespace }}"
    release_state: absent
    wait: true

- name: Delete the release namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.kubernetes_metrics_server.namespace }}"
    state: absent
    wait: true
