---
- name: Fetch all Clickhouse Installations
  kubernetes.core.k8s_info:
    api_version: clickhouse.altinity.com/v1
    kind: ClickHouseInstallation
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    namespace: "{{ tools_instances.clickhouse.namespace }}"
  register: tools_clickhouse_installations
  when:
    - tools_crds.resources | selectattr('metadata.name', '==', 'clickhouseinstallations.clickhouse.altinity.com') | length == 1

- name: Delete Clickhouse Installations
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: "{{ resource.apiVersion }}"
      kind: "{{ resource.kind }}"
      metadata:
        name: "{{ resource.metadata.name }}"
        namespace: "{{ resource.metadata.namespace }}"
    state: absent
    wait: true
  loop: "{{ tools_clickhouse_installations.resources | default([]) }}"
  loop_control:
    label: clickhouseinstallation/{{ resource.metadata.name }}
    loop_var: resource

- name: Fetch all Clickhouse Installation Templates
  kubernetes.core.k8s_info:
    api_version: clickhouse.altinity.com/v1
    kind: ClickHouseInstallationTemplate
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    namespace: "{{ tools_instances.clickhouse.namespace }}"
  register: tools_clickhouse_installation_templates
  when:
    - tools_crds.resources | selectattr('metadata.name', '==', 'clickhouseinstallationtemplates.clickhouse.altinity.com') | length == 1

- name: Delete Clickhouse Installation Templates
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: "{{ resource.apiVersion }}"
      kind: "{{ resource.kind }}"
      metadata:
        name: "{{ resource.metadata.name }}"
        namespace: "{{ resource.metadata.namespace }}"
    state: absent
    wait: true
  loop: "{{ tools_clickhouse_installation_templates.resources | default([]) }}"
  loop_control:
    label: clickhouseinstallationtemplate/{{ resource.metadata.name }}
    loop_var: resource

- name: Delete the instance namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: "{{ tools_instances.clickhouse.namespace }}"
    state: absent
    wait: true

- name: Uninstall Clickhouse Operator
  kubernetes.core.helm:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.clickhouse_operator.name }}"
    release_namespace: "{{ tools_helm_releases.clickhouse_operator.namespace }}"
    release_state: absent
    wait: true

- name: Delete the release namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.clickhouse_operator.namespace }}"
    state: absent
    wait: true

- name: Append Alinity ClickHouse Operator related CRDs to list
  ansible.builtin.set_fact:
    tools_custom_resource_definitions: "{{ tools_custom_resource_definitions + crds }}"
  vars:
    crds: |
      {{
        tools_crds.resources |
        community.general.json_query("[?ends_with(spec.group, 'altinity.com')]")
      }}
