tools:
  chaos_mesh: true
  clickhouse: true
  istio: false
  jaeger: true
  kubernetes_topology_monitor: true
  kubernetes_metrics_server: true
  opencost: false
  opentelemetry: true
  prometheus: true
