---
- name: Include Helm Release variables from applications role
  ansible.builtin.include_vars:
    file: ../applications/defaults/main/helm_releases.yaml

- name: Include instances variables from applications role
  ansible.builtin.include_vars:
    file: ../applications/defaults/main/instances.yaml

- name: Create incident file path variable
  ansible.builtin.set_fact:
    incidents_truth_file_path: files/ground_truths/incident_{{ incidents_file.id }}.yaml

- name: Load incident files
  ansible.builtin.set_fact:
    incidents_ground_truth: "{{ lookup('ansible.builtin.file', truth_file_path) | from_yaml }}"
    incidents_spec: "{{ lookup('ansible.builtin.template', spec_file_path) | from_yaml }}"
  vars:
    spec_file_path: files/specs/incident_{{ incidents_file.id }}.yaml
    truth_file_path: files/ground_truths/incident_{{ incidents_file.id }}.yaml

- name: Import validation tasks
  ansible.builtin.import_tasks:
    file: validate_spec.yaml

- name: Import validation tasks
  ansible.builtin.import_tasks:
    file: validate_ground_truth.yaml

- name: Create variables for Ansible role usage
  ansible.builtin.set_fact:
    incidents_applications:
      bookinfo:
        enabled: "{{ incidents_spec.scenario.spec.environment.applications.bookinfo.enabled | default(false) }}"
      otel_demo:
        configuration: "{{ incidents_spec.scenario.spec.environment.applications.otel_demo.configuration | default({}) }}"
        enabled: "{{ incidents_spec.scenario.spec.environment.applications.otel_demo.enabled | default(true) }}"
    incidents_tools:
      chaos_mesh: "{{ 'chaos-mesh' in incidents_spec.scenario.spec.environment.tools.selected }}"
      clickhouse: "{{ 'clickhouse' in incidents_spec.scenario.spec.environment.tools.selected or true }}"
      istio: "{{ 'istio' in incidents_spec.scenario.spec.environment.tools.selected }}"
      jaeger: "{{ 'jaeger' in incidents_spec.scenario.spec.environment.tools.selected or true }}"
      kubernetes_metrics_server: "{{ 'kubernetes-metrics-server' in incidents_spec.scenario.spec.environment.tools.selected or true }}"
      kubernetes_topology_monitor: "{{ 'kubernetes-topology-monitor' in incidents_spec.scenario.spec.environment.tools.selected }}"
      opencost: "{{ 'opencost' in incidents_spec.scenario.spec.environment.tools.selected or incidents_spec.scenario.spec.environment.tools.category == 'finops' }}"
      opentelemetry: "{{ 'opentelemetry' in incidents_spec.scenario.spec.environment.tools.selected or true }}"
      prometheus: "{{ 'prometheus' in incidents_spec.scenario.spec.environment.tools.selected or true }}"
