stack:
  name_prefix: awx-exp-runner
  runners:
    aws:
      vpc:
        cidr: "10.0.0.0/16"
      subnet:
        public_base: "10.0"
        private_base: "10.0"
      elastic_ip_allocation_id: ""
    count: 20
