---
profile: ambient
service:
  type: {{ "NodePort" if tools_cluster.provider == "kind" else "LoadBalancer" }}
{% if tools_cluster.provider == "kind" %}
  nodePorts:
    http: 30080
    https: 30443
{% endif %}
